body {
    background-image: url('../images/background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.navigation {
    height: 90px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    width: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.links {
    display: flex;
    gap: 24px;
    padding-inline: 24px;
}

.links a {
    font-weight: 500;
    font-size: 24px;
    padding: 8px 16px;
}

.light {
    color: rgb(140, 129, 212);
}

.dark {
    color: rgb(202, 196, 245);
}

.links a:hover {
    color: #252525;
}

.start-button {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 42px;
    background-color: rgb(202, 196, 245);
    color: #252525;
    border-radius: 10px;
    border: 4px solid rgb(202, 196, 245);
    transition: 0.2s;
}

.start-button:hover {
    background-color: transparent;
    color: white;
}

h1 {
    font-size: 145px;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Ribeye", serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
}

.rights {
    padding-top: 200px;
    text-align: center;
}