* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 1000px;
    flex-direction: row;
    margin: 0;
    position: relative;
    padding-left: 100px;
    background-color: #CAC4F5;
}

.col-1 {
    border-radius: 15px;
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 95vh;
    position: fixed;
    padding: 20px;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    flex: 0 0 auto;
}

.col-1 ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.col-1 ul .go_back {
    margin-top: auto;
    padding: 10px;
    background-color: #7F62B5;
    color: white;
    border-radius: 10px;
}

.col-1 ul .go_back a {
    font-size: 15px;
}

.col-1 ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.col-1 ul li:hover {
    background-color: #555;
}

.col-1 ul li a {
    color: #fff;
    text-decoration: none;
}


.col-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 170px;
    margin-right: 100px;
    overflow-x: hidden;
}

.content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #CAC4F5;
    color: #252525;
    padding: 20px;
    box-sizing: border-box;
}

.content article {
    flex: 5;
    min-height: 60vh;
    padding-top: 50px;
}

.content h1 {
    display: flex;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
    font-family: "Ribeye", serif;
}

header,
footer {
    background: #CAC4F5;
    height: 20vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    margin-bottom: 25px;
    padding: 10px;
    border: 2px solid #7F62B5;
    border-radius: 30px;
}

input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    padding: 12px;
    font-weight: 18px;
    justify-content: center;
    width: 80%;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #7F62B5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

article ul li {
    list-style: none;
    font-size: 17px;
    background-color: white;
    padding: 12px 50px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    line-height: 1.5;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 30px;
}

article ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('../images/circle.jpg');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

article ul li.checked {
    color: #555;
    text-decoration: line-through;
}

article ul li.checked::before {
    background-image: url(../images/check.png);
    background-position: center;
}

article ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

article ul li span:hover {
    background: #edeef0;
}